@model AplicacionBase.Models.Vacancy

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Vacancy</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Charge)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Charge)
            @Html.ValidationMessageFor(model => model.Charge)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DayTrip)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DayTrip)
            @Html.ValidationMessageFor(model => model.DayTrip)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.HoursNumber)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.HoursNumber)
            @Html.ValidationMessageFor(model => model.HoursNumber)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ProfessionalProfile)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ProfessionalProfile)
            @Html.ValidationMessageFor(model => model.ProfessionalProfile)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PublicationDate)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PublicationDate)
            @Html.ValidationMessageFor(model => model.PublicationDate)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ClosingDate)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ClosingDate)
            @Html.ValidationMessageFor(model => model.ClosingDate)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.VacanciesNumber)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.VacanciesNumber)
            @Html.ValidationMessageFor(model => model.VacanciesNumber)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Salary)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Salary)
            @Html.ValidationMessageFor(model => model.Salary)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.IdUser, "User")
        </div>
        <div class="editor-field">
            @Html.DropDownList("IdUser", String.Empty)
            @Html.ValidationMessageFor(model => model.IdUser)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.IdCompanie, "Company")
        </div>
        <div class="editor-field">
            @Html.DropDownList("IdCompanie", String.Empty)
            @Html.ValidationMessageFor(model => model.IdCompanie)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
