@model AplicacionBase.Models.Vacancy

@{
    ViewBag.Title = "Eliminar";
}

<h2>Eliminar</h2>

<h3>¿Esta seguro de eliminar esta vacante?</h3>
<fieldset>
    <legend>Vacante</legend>

    <div class="display-label">Cargo</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Charge)
    </div>

    <div class="display-label">Jornada</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DayTrip)
    </div>

    <div class="display-label">Numero de Hotas</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.HoursNumber)
    </div>

    <div class="display-label">Perfil Profesional</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ProfessionalProfile)
    </div>

    <div class="display-label">Fecha de Publicacion</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PublicationDate)
    </div>

    <div class="display-label">Fecha de Cierre</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ClosingDate)
    </div>

    <div class="display-label">Numero de Vacantes</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.VacanciesNumber)
    </div>

    <div class="display-label">Salario</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Salary)
    </div>

    <div class="display-label">Usuario</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.User.PhoneNumber)
    </div>

    <div class="display-label">Compañia</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Company.Name)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Eliminar" /> |
        @Html.ActionLink("Volver a la lista", "Index")
    </p>
}
