@model AplicacionBase.Models.Vacancy

@{
    ViewBag.Title = "Detalles";
}

<h1>Detalles</h1>

<fieldset>
    <legend>Vacante</legend>

    <div class="display-label">Cargo</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Charge)
    </div>

    <div class="display-label">Jornada</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DayTrip)
    </div>

    <div class="display-label">Número de horas</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.HoursNumber)
    </div>

    <div class="display-label">Perfil Profesional</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ProfessionalProfile)
    </div>

    <div class="display-label">Fecha de Publicación</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PublicationDate)
    </div>

    <div class="display-label">Fecha de Cierre</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ClosingDate)
    </div>

    <div class="display-label">Número de Vacantes</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.VacanciesNumber)
    </div>

    <div class="display-label">Salario</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Salary)
    </div>

    <div class="display-label">Descripción</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Description)
    </div>

    <div class="display-label">Publicada por</div>
    <div class="display-field">
         @Html.DisplayFor(model => model.User.FirstNames)
         @Html.DisplayFor(model => model.User.LastNames)
    </div>

    <div class="display-label">Compañía</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Company.Name)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Editar", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Volver a la lista", "Index")
</p>
