@model IEnumerable<AplicacionBase.Models.Vacancy>

@{
    ViewBag.Title = "Inicio";
}

<h2>Inicio</h2>

<p>
    @Html.ActionLink("Crear nueva vacante", "Create")
</p>
<table>
    <tr>
        <th>
            Cargo
        </th>
        <th>
            Jornada
        </th>
        <th>
            Número de Horas
        </th>
        <th>
            Perfil Profesional
        </th>
        <th>
            Fecha de Publicación
        </th>
        <th>
            Fecha de Cierre
        </th>
        <th>
            Número de Vacantes
        </th>
        <th>
            Salario
        </th>
        <th>
            Descripción
        </th>
        <th>
            Usuario
        </th>
        <th>
            Compañía
        </th>
        <th>Acciones</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Charge)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DayTrip)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HoursNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProfessionalProfile)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PublicationDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ClosingDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VacanciesNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Salary)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.User.PhoneNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Company.Name)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Detalles", "Details", new { id=item.Id }) |
            @Html.ActionLink("Borrar", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
