@model IEnumerable<AplicacionBase.Models.Vacancy>

@{
    ViewBag.Title="Listado de Vacantes";
}

<h1>Listado de Vacantes</h1>


<form method="get" action="/Vacancies/Search">
    <fieldset>
        <legend>Búsqueda de vacantes que contengan las palabras:</legend>
        <div class="editor-field">
          @Html.TextBox("criteria", ViewBag.CurrentFilter as string)&nbsp<input type="submit" value="Buscar" class="ebutton blue" />   
        </div>
            
    </fieldset>
</form>


<br/>
<p>
     @Html.ActionLink("Crear Nueva", "Create", null, htmlAttributes: new { @class = "ebutton blue" })
</p>
<table>
    <tr class="head">
        <th>
            Cargo
        </th>
        <th>
            Jornada
        </th>
        <th>
            Número de Horas
        </th>
        <th>
            Perfil Profesional
        </th>
        <th>
            Fecha de Publicación
        </th>
        <th>
            Fecha de Cierre
        </th>
        <th>
            Número de Vacantes
        </th>
        <th>
            Salario
        </th>
        <th>
            Descripción
        </th>
        <th>
            Publicada por
        </th>
        <th>
            Compañía
        </th>
        <th>Acciones</th>
    </tr>

@foreach (var item in Model)
{
    <tr class="alt">
        <td>
            @Html.DisplayFor(modelItem => item.Charge)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DayTrip)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HoursNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProfessionalProfile)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PublicationDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ClosingDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VacanciesNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Salary)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>                          
            @Html.DisplayFor(modelItem => item.User.FirstNames)
            @Html.DisplayFor(modelItem => item.User.LastNames)
                       
        </td>
        <td>
            
            @Html.DisplayFor(modelItem => item.Company.Name)
          
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id = item.Id }) |
            @Html.ActionLink("Detalles", "Details", new { id = item.Id }) |
            @Html.ActionLink("Eliminar", "Delete", new { id = item.Id })
        </td>
    </tr>
}

</table>
