@model IEnumerable<AplicacionBase.Models.Vacancy>

@{
    ViewBag.Title = "Búsqueda de Vacantes";
}

<h1>Resultados de la Búsqueda</h1>


@if (Model.Count() != 0)
{
    <table>
        <tr class="head">
            <th>
                Cargo
            </th>
            <th>
                Publicada por
            </th>
            <th>
                Empresa contratante
            </th>
            <th>
                Acciones
            </th>
        
        </tr>

    @foreach (var item in Model)
    {
        <tr class="alt">
            <td>
                @Html.DisplayFor(modelItem => item.Charge)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.FirstNames)
                @Html.DisplayFor(modelItem => item.User.LastNames)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Company.Name)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Detalles", "Details", new { id = item.Id }) |
                @Html.ActionLink("Borrar", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

    </table>
}

@if (Model.Count() == 0)
{
    <p>No hay coincidencias</p>
}
<br/>
<p>    
    @Html.ActionLink("Crear Nueva Vacante", "Create", null, htmlAttributes: new { @class ="ebutton blue"})
</p>