@model IEnumerable<AplicacionBase.Models.Report>

@{
    ViewBag.Title = "Reportes";
}

<div class="grid">
	<div class="c12">
    		<h2>Reportes</h2>
	</div>
	<div class="c12">
    	<div class="c9 first" id=”contenido”>
        	<div class="alert success">@TempData["Create"]</div>
<div class="alert success">@TempData["Update"]</div>
<div class="alert success">@TempData["Delete"]</div>
<br/>
<p>
    @Html.ActionLink("Nuevo Reporte", "Create", null, htmlAttributes: new { @class = "ebutton blue"})
</p>


<div id="prueba">

<table>
    <tr>
      
        <th>
            Descripción
        </th>
        <th>
            Fecha de Reporte
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
     
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ReportDate)
        </td>


        <td>

        <div class="c12">

            <div class="c1 first">
                          
                @Html.ActionLink(" ", "Edit", new { id = item.Id}, htmlAttributes: new { @class = "btnedit", @title = "Editar" }) 
                            
            </div>
            <div class="c1">
                @Html.ActionLink(" ", "Delete", new { id = item.Id}, htmlAttributes: new { @class = "btndelete", @title = "Eliminar" })
            </div>

            <div class="c1 first">
                                                  
            </div>
                    
            <div class="c1">
                <div class="boton">
                    &#9660;                                       
                    @*<img src="@Url.Content("~/Content/themes/base/images/more.png")"/>*@
                    <div class="informa">
                        <div class="contenido">
                            <div class="arrow_box"></div>
                            <div class="titulo">Más opciones</div>
                            <ul>

                                <li class="lmenu">@Html.ActionLink("Vista previa informe", "Preview", "Reports", new { id = item.Id }, null) </li>
                                <li class="lmenu">@Html.ActionLink("Gestionar Items", "GeneralItems", "Items", new { id = item.Id }, null) </li>

                            </ul>	
                        </div>
                    </div>
                </div>
            </div>

            </div>

       

        </td>
    </tr>
}

</table>

</div>

    	</div>
    	<div class="c3 last" id=”layout”>@Html.Partial("_LayoutReports")</div>
	</div>
	&nbsp;
</div>

<script src="@Url.Content("~/Scripts/jquery-1.7.1.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/menu.js")" type="text/javascript"></script>

