@model AplicacionBase.Models.User
@{
    ViewBag.Title = "Details";
}
<h2>
    Información Personal</h2>
<fieldset>
    <legend>Usuario @Model.aspnet_Users.UserName</legend>
    <div class="display-label">
        Teléfono</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PhoneNumber)
    </div>
    <div class="display-label">
        Nombres</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FirstNames)
    </div>
    <div class="display-label">
        Apellidos</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LastNames)
    </div>
    <div class="display-label">
        Dirección</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Address)
    </div>
    <div class="display-label">
        Celular</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CellphoneNumber)
    </div>
    <div class="display-label">
        Fecha de Nacimiento</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.BirthDate)
    </div>
    <div class="display-label">
        Género</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Gender)
    </div>
    <div class="display-label">
        Estado Civíl</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.MaritalStatus)
    </div>
    <div>
        &nbsp
    </div>
    <div>
        @Html.ActionLink("Editar", "Edit", "User", new { id = Model.Id }, htmlAttributes: new { @class = "ebutton blue" })
        &nbsp
        <input type="button" value="Atrás" onclick="history.go(-1)" class="ebutton blue" />
    </div>
</fieldset>
