@model IEnumerable<AplicacionBase.Models.User>

@{
    ViewBag.Title = "Index";
}

<h2>Usuarios Registrados</h2>

<p>
    @Html.ActionLink("Registrar Usuario", "Create")
</p>
<table>
    <tr>
        <th>
            Telefono
        </th>
        <th>
            Nombres
        </th>
        <th>
            Apellidos
        </th>
        <th>
            Direccion
        </th>
        <th>
            Celular
        </th>
        <th>
            Fecha Nacimiento
        </th>
        <th>
            Genero
        </th>
        <th>
            Estado Civil
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.PhoneNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FirstNames)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastNames)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CellphoneNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BirthDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Gender)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MaritalStatus)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Ver", "Details", new { id = item.Id }) |
            @Html.ActionLink("Eliminar", "Delete", new { id = item.Id })
        </td>
    </tr>
}

</table>
