@model AplicacionBase.Models.Company

@{
    ViewBag.Title = "Borrar compañía";
}

<h1>Borrar</h1>

<h3>¿Está seguro de que quiere borrar esta compañía?</h3>
<fieldset>
    <legend>Compañía</legend>

    <div class="display-label">Nombre</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label">Teléfono</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Phone)
    </div>

    <div class="display-label">Dirección</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Address)
    </div>

    <div class="display-label">E-Mail</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Email)
    </div>

    <div class="display-label">Ciudad</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.City)
    </div>

    <div class="display-label">Sector</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Sector)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Borrar" /> |
        @Html.ActionLink("Volver a la lista", "Index")
    </p>
}
