@model AplicacionBase.Models.Report

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Report</legend>

    <div class="display-label">User</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.User.PhoneNumber)
    </div>

    <div class="display-label">Description</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Description)
    </div>

    <div class="display-label">ReportDate</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ReportDate)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>