@model AplicacionBase.Models.Post

@{
    ViewBag.Title = "Delete";
}

<h2>Eliminar</h2>

<h3>¿Está seguro que quiere eliminar esta noticia? </h3>
<fieldset>
    <legend>Noticia</legend>

    <div class="display-field">
        <span style="color: black;">Usuario :</span>
        @Html.DisplayFor(model => model.User.FirstNames)
        @Html.DisplayFor(model => model.User.LastNames)
    </div>

    <div class="display-field">
        <span style="color: black;">Título :</span>
        @Html.DisplayFor(model => model.Title)
    </div>

    <div class="display-field" align="justify">
        <span style="color: black;">Resumen :</span>
        @Html.DisplayFor(model => model.Abstract)
    </div>

    <div class="display-field" align="justify">
    <span style="color: black;">Contenido :</span>
        @Html.DisplayFor(model => model.Content)
    </div>

    <div class="display-field">
        <span style="color: black;">Fecha de Publicación :</span>
        @Html.DisplayFor(model => model.PublicationDate)
    </div>

    <div class="display-field">
        <span style="color: black;">Última Actualización :</span>
        @Html.DisplayFor(model => model.UpdateDate)
    </div>

</fieldset>
@using (Html.BeginForm()) {
    <div>
        <input type="submit" value="Eliminar" class="ebutton blue"/> 
        @Html.ActionLink("Cancelar", "Index", null, htmlAttributes: new { @class = "ebutton blue" })
    </div>
}
