@model ICollection<AplicacionBase.Models.Post> 

@{
    ViewBag.Title = "Detalles";
}

<h2>Detalles</h2>

<fieldset>
    <legend>Noticia</legend>
    <div class="display-field">
        <span style="color: black;">Usuario : </span>
        @Html.DisplayFor(model => model.ElementAt(0).User.FirstNames)
        @Html.DisplayFor(model => model.ElementAt(0).User.LastNames)
    </div>
    <div class="display-field">
        <span style="color: black;">Título :</span>
        @Html.DisplayFor(model => model.ElementAt(0).Title)
    </div>
    <div class="display-field">
        <span style="color: black;">Fecha de Publicación :</span> 
        @Html.DisplayFor(model => model.ElementAt(0).PublicationDate)
    </div>
    <div class="display-field">
        <span style="color: black;">Última Modificación :</span>
        @Html.DisplayFor(model => model.ElementAt(0).UpdateDate)
    </div>
    <div class="display-field" align="justify">
        <span style="color: black;">Resumen : </span>
        @Html.DisplayFor(model => model.ElementAt(0).Abstract)
    </div>
    <div class="display-field" align="justify">
        <span style="color: black;">Contenido :</span> 
        @Html.DisplayFor(model => model.ElementAt(0).Content)
    </div>
    <br/>
    <br/>
</fieldset>
<div>
    @Html.ActionLink("Editar", "Edit", new { id = Model.ElementAt(0).Id }, htmlAttributes: new { @class = "ebutton blue" }) 
    @Html.ActionLink("Cancelar", "Index", null, htmlAttributes: new { @class = "ebutton blue" })
</div>
