@model IEnumerable<AplicacionBase.Models.Post>

@{
    ViewBag.Title = "Noticias";
}

<h2>Gestor de Noticias</h2>

<p>
    @Html.ActionLink("Nueva Noticia", "Create")
</p>
<table>
    <tr>
        <th width = "150"  >
            Usuario
        </th>
        <th width = "150" >
            Título
        </th>
        <th >
            Resumen
        </th>
        <th width = "185">
            Fecha de Publicación
        </th>
        <th width = "190">
            Acciones
        </th>
    </tr>

    @foreach (var item in Model) {
        <tr>
            <td style="text-align: center;">
                @Html.DisplayFor(modelItem => item.User.FirstNames)
                @Html.DisplayFor(modelItem => item.User.LastNames)
            </td>
            <td style="text-align: center;">
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td style="text-align: justify;">
                @Html.DisplayFor(modelItem => item.Abstract)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PublicationDate)
            </td>
            <td >
                @Html.ActionLink(" ", "Edit", new { id = item.Id }, htmlAttributes: new { @class = "btnedit", @title = "Editar" }) 
                @Html.ActionLink(" ", "Details", new { id = item.Id }, htmlAttributes: new { @class = "btndetails", @title = "Detalles" }) 
                @Html.ActionLink(" ", "Delete", new { id = item.Id }, htmlAttributes: new { @class = "btndelete", @title = "Eliminar" })
                @Html.ActionLink(" ", "", null, htmlAttributes: new { @class = "btnmore", @title = "Configuración" })
            </td>
        </tr>
    }

</table>
