@model ICollection<AplicacionBase.Models.Post> 

@{
    ViewBag.Title = "Detalles";
}

<div class="center">
    <div class="display-field">
    
        <div class="shownoticiatitle"><h2>@Html.DisplayFor(model => model.ElementAt(0).Title)</h2>
            <div></br>
                @if (Model.ElementAt(1).Autorized==0){@Html.ActionLink(" ", "Create", "Like", new { post = Model.ElementAt(0).Id }, htmlAttributes: new { @class = "ebutton btnlike" }) }
                @if (Model.ElementAt(1).Autorized==1){@Html.ActionLink(" ", "DeleteConfirmed", "Like", new { post = Model.ElementAt(0).Id, id = Model.ElementAt(1).Id }, htmlAttributes: new { @class = "ebutton btnnolike" }) }
                <div class ="left"> @Model.ElementAt(1).Estate Usuarios les Gusta</div> </br></br></br>
                <div id="startbox">
                    <div class="startunselected" id="star1" onmouseover="hover(1)" onmouseout="unhover()" onclick="calificar(1,  2)"></div>
                    <div class="startunselected" id="star2" onmouseover="hover(2)" onmouseout="unhover()" onclick="calificar(2,  2)"></div>
                    <div class="startunselected" id="star3" onmouseover="hover(3)" onmouseout="unhover()" onclick="calificar(3,  2)"></div>
                    <div class="startunselected" id="star4" onmouseover="hover(4)" onmouseout="unhover()" onclick="calificar(4,  2)"></div>
                    <div class="startunselected" id="star5" onmouseover="hover(5)" onmouseout="unhover()" onclick="calificar(5,  2)"></div>
                </div>
                <div class ="left"> @Model.ElementAt(1).Estate De calificacion promedio</div> </br></br></br>
            </div>
        </div>
    </div>
     <div id="carrucel-main" class="Carrucel">
        <div class="ContentCarrucel" id="Content">    
            <div class="NodeCarrucel" id="Node1" >
                <div class="inner">
                    <div class="fondo_noticia">
                        <img src="/Content/themes/base/images/citacion_prueba.jpg"/>
                    </div>
                    <div class="noticia">
                    </div>   
                </div>                                               
            </div>                        
               
            <div class="NodeCarrucelUnselected" id="Node2" > 
                <div class="inner"> 
                    <div class="fondo_noticia">
                        <img src="/Content/themes/base/images/citacion_prueba.jpg"/>
                    </div>
                    <div class="noticia">                       
                    </div>                                                  
                </div>
            </div>              
    </div>
    <div class="Controls">
        @{
            @Html.ActionLink("<<<", "", new { }, htmlAttributes: new { @class = "Back", @id = "BackCarrucel", @onclick = "Back()", @href = "javascript:void(0);" })
            @Html.ActionLink(">>>", "", new { }, htmlAttributes: new { @class = "Next", @id = "NextCarrucel", @onclick = "Next()", @href = "javascript:void(0);" })
            
            string a;}            
            @for (var i = 1;  i < 3; i++)
            {
                a = "A" + i;
                if (i == 1)
                {
                    @Html.ActionLink(i.ToString(), "", new { }, htmlAttributes: new { @class = "ASelected", @id = a, @onclick = "goToPosition('" + i + "')", @href = "javascript:void(0);" })                                          
                }
                else
                { 
                    @Html.ActionLink(i.ToString(), "", new { }, htmlAttributes: new { @class = "Position", @id = a, @onclick = "goToPosition('" + i + "')", @href = "javascript:void(0);" })                                                                         
                }
            } 
    </div>
    </div>
    <br /><br />
    <div class="display-field" align="justify">
        <span style="color: black;">Contenido :</span> 
        @Html.DisplayFor(model => model.ElementAt(0).Content)
    </div>
    <div class="display-field">
        <span style="color: black;">Publicado por : </span>
        @Html.DisplayFor(model => model.ElementAt(0).User.FirstNames)
        @Html.DisplayFor(model => model.ElementAt(0).User.LastNames)
    </div>
    <div class="display-field">
        <span style="color: black;">Fecha de Publicación :</span> 
        @Html.DisplayFor(model => model.ElementAt(0).PublicationDate)
    </div>
    <div class="display-field">
        <span style="color: black;">Última Modificación :</span>
        @Html.DisplayFor(model => model.ElementAt(0).UpdateDate)
    </div>
</div>
<script type="text/javascript">    create_carrucel(2);</script>