@model IEnumerable<AplicacionBase.Models.Thesis>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            Study
        </th>
        <th>
            Title
        </th>
        <th>
            Description
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Study.Grade)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            <div class = " left "> @Html.ActionLink(" ", "Edit", new {}, htmlAttributes: new { @class = "btnedit", title = "Editar Tésis" }) &nbsp</div>
            <div class = " left ">@Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) | &nbsp</div>
           
           <div class = " left "> @Html.ActionLink(" ", "Details", new {}, htmlAttributes: new { @class = "btndetails", title = "Ver Tésis" }) &nbsp</div>
            <div class = " left ">@Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |&nbsp</div>

            
            
        </td>
    </tr>
}

</table>
