@model AplicacionBase.Models.Question

@{
    ViewBag.Title = "Detalles de la Pregunta, perteneciente al Tema " + @ViewBag.Topic.Description;
    if ((string)Session["Wizard"] != "0")
    {
        Layout = "~/Views/Shared/_LayoutW.cshtml";
        Session["Wizard"] = "0";
    }
}
<div class="grid">
    <div class="c12">
        <h2>Detalles Pregunta, perteneciente al Tema <strong> <i> @ViewBag.Topic.Description </i></strong></h2>
    </div>
<div class="c12">
        <div class="c9 first" id="contenido">   
<fieldset>
    <legend>Pregunta</legend>
    @*
    <div class="display-label">Tema</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Topic.Description)
    </div>
    *@
    <div class="display-label">Tipo de Pregunta</div>
    <div class="display-field">
        <p>@Html.DisplayFor(model => model.Type) </p>
    </div>

    <div class="display-label">Enunciado de la Pregunta</div>
    <div class="display-field">
        <p>@Html.DisplayFor(model => model.Sentence)</p>
    </div>

    <div class="display-label">Orden de Pregunta</div>
    <div class="display-field">
        <p>@Html.DisplayFor(model => model.QuestionNumber)</p>
    </div>

    <div class="display-label">Es Obligatorio</div>
    <div class="display-field">
         <p> @{
              Write(Model.IsObligatory == 0 ? "No" : "Si"); 
             }
        </p>
        @*@Html.DisplayFor(model => model.IsObligatory)*@
    </div>
</fieldset>
<p>
    
    @Html.ActionLink("Editar", "Edit", new { idT = Model.IdTopic, idQ = Model.Id }, htmlAttributes: new { @class = "ebutton blue" }) &nbsp; @Html.ActionLink("Regresar al listado", "Index", routeValues: new { id = ViewBag.Topic.Id }, htmlAttributes: new { @class = "ebutton blue" })
</p>
</div>
<div class="c3 last" id="layout">@Html.Partial("_LayoutSideBar")</div>
</div>
&nbsp;
</div>