@model AplicacionBase.Models.Vacancy

@{
    ViewBag.Title = "Publicar Vacante";
}

<h2>Publicar vacante</h2>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Publicar Vacante</legend>

         <div class="editor-label">
            Compañía
        </div>
        <div class="editor-field">
            @Html.DropDownList("IdCompanie", "")
            @Html.ValidationMessageFor(model => model.IdCompanie)

            ¿No aparece en la lista?<a class="ebutton blue" href="../Companies/Create">Crear Nueva</a>
        </div>

        <div class="editor-label">
            Cargo
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Charge)
            @Html.ValidationMessageFor(model => model.Charge)
        </div>

        <div class="editor-label">
            Jornada
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DayTrip)
            @Html.ValidationMessageFor(model => model.DayTrip)
        </div>

        <div class="editor-label">
            Número de horas
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.HoursNumber)
            @Html.ValidationMessageFor(model => model.HoursNumber)
        </div>

        <div class="editor-label">
            Perfil Profesional
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ProfessionalProfile)
            @Html.ValidationMessageFor(model => model.ProfessionalProfile)
        </div>

        <div class="editor-label">
           Fecha de Publicación
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PublicationDate)
            @Html.ValidationMessageFor(model => model.PublicationDate)
        </div>

        <div class="editor-label">
            Fecha de Cierre
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ClosingDate)
            @Html.ValidationMessageFor(model => model.ClosingDate)
        </div>

        <div class="editor-label">
            Número de Vacantes
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.VacanciesNumber)
            @Html.ValidationMessageFor(model => model.VacanciesNumber)
        </div>

        <div class="editor-label">
           Salario
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Salary)
            @Html.ValidationMessageFor(model => model.Salary)
        </div>

        <div class="editor-label">
            Descripción
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Description)
            @Html.ValidationMessageFor(model => model.Description)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.IdUser, "Usuario")
        </div>
        <div class="editor-field">
            @Html.DropDownList("IdUser", String.Empty)
            @Html.ValidationMessageFor(model => model.IdUser)
        </div>

        
        

        <p>
             <input type="submit" value="Crear" class="ebutton blue" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Volver a la lista", "Index", null, htmlAttributes: new { @class = "ebutton blue" })
</div>
