@model AplicacionBase.Models.Company

@{
    ViewBag.Title = "Create";
}

<h2>Crear</h2>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Compañia</legend>

        <div class="editor-label">
            Nombre
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>

        <div class="editor-label">
            Direccion
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.City)
            @Html.ValidationMessageFor(model => model.City)
        </div>

        <div class="editor-label">
            Telefono
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Sector)
            @Html.ValidationMessageFor(model => model.Sector)
        </div>

        <div class="editor-label">
            Correo Electronico
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Type)
            @Html.ValidationMessageFor(model => model.Type)
        </div>

        <p>
            <input type="submit" value="Create" class="ebutton blue" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Volver atras", "../Vacancies/Create", null, htmlAttributes: new { @class = "ebutton blue" })
</div>
