@model AplicacionBase.Models.Experience

@{
    ViewBag.Title = "Crear Experiencia";
}

<script type="text/javascript">
    $(document).ready(function () {
        $("#endDate").datepicker();
        $("#startDate").datepicker();
    });
</script>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Experiencia Laboral</legend>

         <div class="editor-label">
            Compañía
        </div>
        <div class="editor-field">
            @Html.DropDownList("IdCompanie", "")
            @Html.ValidationMessageFor(model => model.IdCompanie)

            ¿No aparece en la lista? &nbsp<a class="ebutton blue" href="../Companies/Create">Crear Nueva</a>
        </div>

        <div class="editor-label">
            Cargo Desempeñado
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Charge)
            @Html.ValidationMessageFor(model => model.Charge)
        </div>

        <div class="editor-label">
           Fecha de Inicio
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.StartDate, new { id = "startDate"})
            @Html.ValidationMessageFor(model => model.StartDate)
        </div>

        <div class="editor-label">
           Fecha de Fin
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.EndDate, new { id = "endDate"})
            @Html.ValidationMessageFor(model => model.EndDate)
        </div>
               
        <div class="editor-label">
            Decripcion
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Description)
            @Html.ValidationMessageFor(model => model.Description)
        </div>        
        <p>
             <input type="submit" value="Crear" class="ebutton blue" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Volver a la lista", "Index", null, htmlAttributes: new { @class = "ebutton blue" })
</div>
