@model AplicacionBase.Models.AnswerChoice

@{
    ViewBag.Title = "Detalles";
}

<h2>Detalles de la Opción de Respuesta</h2>

<fieldset>
    <legend>Opción de Respuesta</legend>
    <br/>

    <div class="display-label">Pregunta</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Question.Sentence)
    </div>
    <br/>

    <div class="display-label">Enunciado</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Sentence)
    </div>
    <br/>

    <div class="display-label">Valor Cuantitativo</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.NumericValue)
    </div>
    <br/>

    <div class="display-label">Tipo</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Type)
    </div>
    <br/>

    <div class="display-label">Número de Orden</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.AnswerNumber)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Editar", "Edit", new { idT = Model.Id}, htmlAttributes: new { @class = "ebutton blue" }) &nbsp; @Html.ActionLink("Regresar al listado", "Index", routeValues: new { id = Model.IdQuestion }, htmlAttributes: new { @class = "ebutton blue" })
</p>
