@model AplicacionBase.Models.AnswerChoice

@{
    ViewBag.Title = "Editar Opción de Respuesta";
}

<h2>Editar Opción de Respuesta de la Pregunta "@Html.DisplayFor(model => model.Question.Sentence)"</h2>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm()) {
    @Html.ViewData["id"]
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Opcion de Respuesta</legend>

        @Html.HiddenFor(model => model.Id)

        <div class="editor-label">
            @Html.HiddenFor(model => model.IdQuestion, "Pregunta")
        </div>
        <div class="editor-field">
            @Html.HiddenFor(model => model.IdQuestion, "" + ViewData["id"])
        
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Sentence)
        </div>
      
        <div class="editor-field">
            @Html.EditorFor(model => model.Sentence)
            @Html.ValidationMessageFor(model => model.Sentence)
        </div>
          <br />

        <div class="editor-label">
            @Html.LabelFor(model => model.NumericValue)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.NumericValue)
            @Html.ValidationMessageFor(model => model.NumericValue)
        </div>
         <br />

        <div class="editor-label">
            @Html.LabelFor(model => model.Type)
        </div>

        <div class="editor-field">
            
            @Html.RadioButtonFor(model =>model.Type,"Normal",true) Normal 
            @Html.RadioButtonFor(model =>model.Type,"Con texto",false) Con texto
            @Html.ValidationMessageFor(model => model.Type)
            <br/>

        </div>
        <br/>

        <div class="editor-label">
            @Html.LabelFor(model => model.AnswerNumber)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.AnswerNumber)
            @Html.ValidationMessageFor(model => model.AnswerNumber)
            <div class="validation-summary-errors">
                @TempData["Error2"]
            </div>
        </div>

        <p>
            <input type="submit" value="Guardar" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Regresar", "Index", new { id = Model.IdQuestion })
</div>
