@model AplicacionBase.Models.User

@{
    ViewBag.Title = "Delete";
}

<h2>Eliminar Usuario</h2>

<h3>¿Esta seguro que desea eliminar este usuario?</h3>
<fieldset>
    <legend>Usuario @ViewBag.UserName</legend>

    <div class="display-label">Teléfono</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PhoneNumber)
    </div>

    <div class="display-label">Nombres</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FirstNames)
    </div>

    <div class="display-label">Apellidos</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LastNames)
    </div>

    <div class="display-label">Dirección</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Address)
    </div>

    <div class="display-label">Celular</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CellphoneNumber)
    </div>

    <div class="display-label">Fecha de Nacimiento  (AAAA/MM/DD)</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.BirthDate)
    </div>

    <div class="display-label">Género</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Gender)
    </div>

    <div class="display-label">Estado Civíl</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.MaritalStatus)
    </div>
    <div>
        &nbsp
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <div>
        <input type="submit" value="Eliminar" class="ebutton blue"/> &nbsp
        @Html.ActionLink("Registrar al listado de Usuarios", "Index", "", htmlAttributes: new { @class = "ebutton blue" })
    </div>
}
