@model AplicacionBase.Models.User

@{
    ViewBag.Title = "Details";
}

<h2>Detalles</h2>

<fieldset>
    <legend>Usuario @ViewBag.UserName</legend>

    <div class="display-label">Telefono</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PhoneNumber)
    </div>

    <div class="display-label">Nombres</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FirstNames)
    </div>

    <div class="display-label">Apellidos</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LastNames)
    </div>

    <div class="display-label">Direccion</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Address)
    </div>

    <div class="display-label">Celular</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CellphoneNumber)
    </div>

    <div class="display-label">Fecha de Nacimiento  (AAAA/MM/DD)</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.BirthDate)
    </div>

    <div class="display-label">Genero</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Gender)
    </div>

    <div class="display-label">Estado Civil</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.MaritalStatus)
    </div>
</fieldset>
<p>
    <!-- @Html.ActionLink("Edit", "Editar ", new { id=Model.Id }) |-->
    @Html.ActionLink("Regresar al listado de Usuarios", "Index")
</p>
