@model AplicacionBase.Models.User
@{
    ViewBag.Title = "Detalles";
}
<h2>
    Información Personal</h2>
    
<fieldset>
    <legend>Usuario: @Model.aspnet_Users.UserName</legend>

    <div class="display-label"><h3>Teléfono:@Html.DisplayFor(model => model.PhoneNumber) </h3></div>
    <div class="display-label"><h3>Nombres: @Html.DisplayFor(model => model.FirstNames)</h3></div>
    <div class="display-label"><h3> Apellidos:  @Html.DisplayFor(model => model.LastNames)</h3></div>
    <div class="display-label"><h3> Dirección:  @Html.DisplayFor(model => model.Address)</h3></div>
    <div class="display-label"><h3> Celular:  @Html.DisplayFor(model => model.CellphoneNumber)</h3></div>
    <div class="display-label"><h3> Fecha de Nacimiento:  @Html.DisplayFor(model => model.BirthDate)</h3></div>
    <div class="display-label"><h3> Género:  @Html.DisplayFor(model => model.Gender)</h3></div>
    <div class="display-label"><h3> Estado Civil:  @Html.DisplayFor(model => model.MaritalStatus)</h3></div>

    <div>&nbsp</div>

    <div>
        @Html.ActionLink("Editar", "Edit", "User", new { id = Model.Id }, htmlAttributes: new { @class = "ebutton blue" })
        &nbsp
        <input type="button" value="Atrás" onclick="history.go(-1)" class="ebutton blue" />
    </div>
</fieldset>
