@model AplicacionBase.Models.ExperiencesBoss

@{
    ViewBag.Title = "Información sobre el jefe";
    var wizard = ViewBag.WizardStep;
    if (wizard == 1)
    {
        Layout = "~/Views/Shared/_LayoutW.cshtml";
        wizard = 1;
    }
    var idExp= ViewData["IdExp"];
    
}

<h2>Información sobre el jefe</h2>


<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>



@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Jefe Directo</legend>

        <input type="hidden" name="wizard" id="wizard" value="@ViewBag.WizardStep"/>
        <div class="editor-label">
            Jefe 
        </div>
        <div class="editor-field">
            @Html.DropDownList("IdBoss", String.Empty)
            @Html.ValidationMessageFor(model => model.IdBoss)
            ¿No aparece en la lista? &nbsp @Html.ActionLink("Nuevo", "CreateForExperienceBosses", "Bosses", new { id = idExp, wizardStep = wizard }, htmlAttributes: new { @class = "ebutton blue" })
        </div>
        

@*        <div class="editor-label">
            Cargo desempeñado
        </div>
*@        <div class="editor-field">
            @Html.Hidden("IdExperiences")
            @Html.ValidationMessageFor(model => model.IdExperiences)
        </div>

        <div class="editor-label">
            Fecha de inicio
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.StartDate, new { id = "startDate" })
            @Html.ValidationMessageFor(model => model.StartDate)
        </div>

        <div class="editor-label">
            Fecha de Finalización
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.EndDate, new { id = "endDate" })
            @Html.ValidationMessageFor(model => model.EndDate)
        </div>
        
            <script type="text/javascript">
                $(document).ready(function () {
                    $("#startDate").datepicker({ dateFormat: 'dd/mm/yy' });
                });

                $(document).ready(function () {
                    $("#endDate").datepicker({ dateFormat: 'dd/mm/yy' });
                });
             </script>
             <br/>
        <p>
            <input type="submit" value="Crear" class="ebutton blue"/>&nbsp
            
            @*@Html.ActionLink("Volver", "Index", new { wizardStep = wizard }, htmlAttributes: new { @class = "ebutton blue" })*@
        </p>
    </fieldset>

    }


