@model AplicacionBase.Models.ExperiencesBoss

@{
    ViewBag.Title = "Detalles";
}

<h2>Detalles</h2>

<fieldset>
    <legend>Jefe Laboral</legend>

    <div class="display-label">Nombre del Jefe</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Boss.Name)
    </div>

    <div class="display-label">Chargo desempeñado</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Experience.Charge)
    </div>

    <div class="display-label">Fecha Inicio</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.StartDate)
    </div>

    <div class="display-label">Fecha Fin</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EndDate)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Editar", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Volver", "Index")
</p>
