@model IEnumerable<AplicacionBase.Models.ExperiencesBoss>

@{
    ViewBag.Title = "Index";
}

<h2>Lista De Jefes Directos</h2>

<p>
    @Html.ActionLink("Crear Nuevo", "Create", "", htmlAttributes: new { @class = "ebutton blue" })
</p>
<table>
    <tr>
        <th>
            Nombre Jefe
        </th>
        <th>
            Cargo Desempeñado
        </th>
        <th>
            Fecha Inicio
        </th>
        <th>
            Fecha Fin
        </th>
        <th>Acciones</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Boss.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Experience.Charge)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StartDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EndDate)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id = item.Id }, htmlAttributes: new { @class = "ebutton blue" }) &nbsp
            @Html.ActionLink("Ver", "Details", new { id = item.Id }, htmlAttributes: new { @class = "ebutton blue" }) &nbsp
            @Html.ActionLink("Eliminar", "Delete", new { id = item.Id }, htmlAttributes: new { @class = "ebutton blue" })
        </td>
    </tr>
}

</table>
