@model AplicacionBase.Models.Study

@{
    ViewBag.Title = "Delete";
}

<h2>Eliminar Estudios</h2>

<h3>¿Está seguro de eliminar un studio?</h3>
<fieldset>
    <legend>Estudio</legend>

    <div class="display-label">Institución</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.School.Name)
    </div>

    <div class="display-label">Usuario</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.User.PhoneNumber)
    </div>

    <div class="display-label">Grado</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Grade)
    </div>

    <div class="display-label">Fecha Inicio</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.StartDate)
    </div>

    <div class="display-label">Fecha Fin</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EndDate)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Regresar", "Index")
    </p>
}
