@model AplicacionBase.Models.Study

@{
    ViewBag.Title = "Edit";
}

<h2>Editar</h2>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Estudio</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.IdSchool, "Institucion")
        </div>
        <div class="editor-field">
            @Html.DropDownList("IdSchool", String.Empty)
            @Html.ValidationMessageFor(model => model.IdSchool)
        </div>

        <div class="editor-label">
            Título
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Grade)
            @Html.ValidationMessageFor(model => model.Grade)
        </div>

        <div class="editor-label">
            Fecha de Inicio
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.StartDate)
            @Html.ValidationMessageFor(model => model.StartDate)
        </div>

        <div class="editor-label">
            Fecha Final
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.EndDate)
            @Html.ValidationMessageFor(model => model.EndDate)
        </div>

        @Html.HiddenFor(model => model.Id)
        <div>
        &nbsp
        </div>

        <div>
            <input type="submit" value="Guardar" class="ebutton blue"/> &nbsp
            @Html.ActionLink("Regresar", "Index", new { id = Model.Id }, htmlAttributes: new { @class = "ebutton blue" })
        </div>
            
        
    </fieldset>
}


