@model IEnumerable<AplicacionBase.Models.Study>

@{
    ViewBag.Title = "Index";
}

<h2>Estudios Realizados</h2>

<p>
    @Html.ActionLink("Agregar Estudio", "Create", "", htmlAttributes: new { @class = "ebutton blue" }) &nbsp
</p>
<table>
    <tr>
        <th>
            Institución
        </th>
        <th>
            Título
        </th>
        <th>
            Fecha de Inicio
        </th>
        <th>
            Fecha de Finalización
        </th>
         <th>
            Opciones
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.School.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Grade)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StartDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EndDate)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Ver", "Details", new { id=item.Id }) |
            @Html.ActionLink("Eliminar", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
