@model IEnumerable<AplicacionBase.Models.Experience>

@{
    ViewBag.Title = "Listado de Experiencias Laborales";
}
<h2>Experiencias Laborales</h2>

<p>
    @Html.ActionLink("Crear Nueva Experiencia", "Create",null, htmlAttributes: new { @class = "ebutton blue" })
</p>
<table>
    <tr>
        <th>
            Compañía donde laboró
        </th>
        <th>
            Descripción de la labor ejercida
        </th>
        <th>
           Cargo desempeñando
        </th>
        <th>
            Fecha de Inicio
        </th>
        <th>
            Fecha de finalización
        </th>       
        <th>Acciones</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Company.Name)
        </td>        
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Charge)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StartDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EndDate)
        </td>
        
        <td>
            @Html.ActionLink("Editar", "Edit", new { id = item.Id }, htmlAttributes: new { @class = "ebutton blue" })  &nbsp
            @Html.ActionLink("Ver", "Details", new { id = item.Id }, htmlAttributes: new { @class = "ebutton blue" })  &nbsp
            @Html.ActionLink("Eliminar", "Delete", new { id = item.Id }, htmlAttributes: new { @class = "ebutton blue" }) 
        </td>
    </tr>
}

</table>
