@model AplicacionBase.Models.AnswerChoice

@{
    ViewBag.Title = "Crear Opciones de Respuesta";
}

<h2>Crear Opción de Respuesta para la Pregunta</h2>
<h3>@ViewBag.Question.Sentence</h3>
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Opciones de Respuesta</legend>
        <br/>

        <div class="editor-label">
            @Html.LabelFor(model => model.Sentence)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Sentence)
            @Html.ValidationMessageFor(model => model.Sentence)
        </div>
        <br/>

        <div class="editor-label">
            @Html.LabelFor(model => model.NumericValue)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.NumericValue)
            @Html.ValidationMessageFor(model => model.NumericValue)
        </div>
        <br/>

        <div class="editor-label">
            @Html.LabelFor(model => model.Type)
        </div>
        <div class="editor-field">
            
            @Html.RadioButtonFor(model =>model.Type,"NORMAL",true) NORMAL 
            @Html.RadioButtonFor(model =>model.Type,"CON TEXTO",false) CON TEXTO
            @Html.ValidationMessageFor(model => model.Type)
            <br/>
        </div>
        <br/>

        <div class="editor-label">
            @Html.LabelFor(model => model.AnswerNumber)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.AnswerNumber)
            @Html.ValidationMessageFor(model => model.AnswerNumber)
        </div>
        <br/>

        <p>
            <input type="submit" value="Crear" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Regresar", "Index", new { oid = ViewData["oid"] })
</div>
