@model AplicacionBase.Models.AnswerChoice

@{
    ViewBag.Title = "Eliminar";
}

<h2>Eliminar Opción de Respuesta</h2>

<h3>¿Está seguro que desea eliminar esta opción?</h3>
<fieldset>
    <legend>Opción de Respuesta</legend>

    <div class="display-label">Pregunta</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Question.Sentence)
    </div>

    <div class="display-label">Enunciado</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Sentence)
    </div>

    <div class="display-label">Valor Cuantitativo</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.NumericValue)
    </div>

    <div class="display-label">Tipo</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Type)
    </div>

    <div class="display-label">Número de orden</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.AnswerNumber)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Eliminar" /> |
        @Html.ActionLink("Regresar", "Index", new { oid = Model.IdQuestion })
    </p>
}
