@model AplicacionBase.Models.AnswerChoice

@{
    ViewBag.Title = "Detalles";
}

<h2>Detalles</h2>

<fieldset>
    <legend>OpcionesdeRespuesta</legend>

    <div class="display-label">Pregunta</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Question.Type)
    </div>

    <div class="display-label">Enunciado</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Sentence)
    </div>

    <div class="display-label">ValorN</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.NumericValue)
    </div>

    <div class="display-label">Tipo</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Type)
    </div>

    <div class="display-label">AnswerNumber</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.AnswerNumber)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Editar", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Regresar", "Index", new { oid = Model.IdQuestion })
</p>
