@model AplicacionBase.Models.Survey

@{
    ViewBag.Title = "Edit";
}

<h2>Editar Encuesta</h2>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Encuesta</legend>

        @Html.HiddenFor(model => model.Id)

        <div class="display-label">Nombre</div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>

       <div class="display-label">Objetivo</div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Aim)
            @Html.ValidationMessageFor(model => model.Aim)
        </div>

        <p>
            <input type="submit" value="Actualizar" /> |  @Html.ActionLink("Cancelar", "Index")
        </p>
    </fieldset>
}