@model IEnumerable<AplicacionBase.Models.Survey>

@{
    ViewBag.Title = "Index";
}

<div class="grid">
<div class="c9">
    <h2>Encuesta</h2>

    <div class="alert success">@TempData["Sucess"]</div>
    <div class="alert success">@TempData["Update"]</div>
    <div class="alert success">@TempData["Remove"]</div>

    <p>
        @Html.ActionLink("Crear Nueva Encuesta", "Create", null, htmlAttributes: new { @class = "ebutton blue" })
    </p>
    <table>
        <tr>
            <th>
                Nombre
            </th>
            <th>
                Objetivo
            </th>
            <th>Acciones</th>
        </tr>
        @{ int i = 0;}
        @foreach (var item in Model)
        {
            if (i % 2 == 0)
            {
        
                    @:<tr>
                }
            else
            {
                    @:<tr class="even">
            }
                @:<td>
                    @Html.DisplayFor(modelItem => item.Name)
                @:</td>
                @:<td>
                    @Html.DisplayFor(modelItem => item.Aim)
                @:</td>
                @:<td>
                    @Html.ActionLink("Editar", "Edit", new { id = item.Id }, htmlAttributes: new { @class = "ebutton blue" }) @: &nbsp
                    @Html.ActionLink("Detalles", "Details", new { id = item.Id }, htmlAttributes: new { @class = "ebutton blue" })  @: &nbsp
                    @Html.ActionLink("Eliminar", "Delete", new { id = item.Id }, htmlAttributes: new { @class = "ebutton blue" }) @: &nbsp
                    @Html.ActionLink("Agregar temas", "Index", "SurveysTopics", new { id = item.Id }, htmlAttributes: new { @class = "ebutton blue" }) @: &nbsp
                    @Html.ActionLink("Enviar Encuesta", "Send", "SendSurveys", new { id = item.Id }, htmlAttributes: new { @class = "ebutton blue" }) @: &nbsp
                    @Html.ActionLink("Enviar Encuesta General", "Send", "SendSurveys", new { id = item.Id }, htmlAttributes: new { @class = "ebutton blue" }) 
                    @Html.ActionLink("Enviar Encuesta Especifica", "Send", "SendSurveys", new { id = item.Id }, htmlAttributes: new { @class = "ebutton blue" }) 
                @:</td>
            @:</tr>
            i++;
        }

    </table>
</div>
</div>