@model IEnumerable<AplicacionBase.Models.Survey>

@{
    
    ViewBag.Title = "Encuestas";
}


<div class="grid">
    <div class="c12">
        <h2>Encuesta</h2>
        <div class="alert success">@TempData["Sucess"]</div>
            <div class="alert success">@TempData["Update"]</div>
            <div class="alert success">@TempData["Remove"]</div>

            <p>
                @Html.ActionLink("Crear Nueva Encuesta", "Create", null, htmlAttributes: new { @class = "ebutton blue" })
            </p>
    </div>
    <div class="c12">
        <div class="c10 first">
            <table>
                <tr>
                    <th>
                        Nombre
                    </th>
                    <th>
                        Objetivo
                    </th>
                    <th>Acciones</th>
                </tr>
                @{ int i = 0;}
                @foreach (var item in Model)
                {
                    if (i % 2 == 0)
                    {
        
                        @:<tr>
                    }
                    else
                    {
                        @:<tr class="even">
                    }
                    @:<td>
                    @Html.DisplayFor(modelItem => item.Name)
                    @:</td>
                    @:<td>
                    @Html.DisplayFor(modelItem => item.Aim)
                    @:</td>
                    @:<td>
                    <div align="center">
                    @Html.ActionLink("Editar", "Edit", new { id = item.Id }, htmlAttributes: new { @class = "ebutton blue" }) <text>&nbsp;</text>
                    @Html.ActionLink("Detalles", "Details", new { id = item.Id }, htmlAttributes: new { @class = "ebutton blue" }) <text>&nbsp;</text>
                    @Html.ActionLink("Eliminar", "Delete", new { id = item.Id }, htmlAttributes: new { @class = "ebutton blue" }) <text>&nbsp;</text>
                        
                    
                    <div class="accordion">
                        @{
                            string refacor = "#acc" + i;
                            string idaccor = "acc" + i;
                        }
                        <section>
                            <a href="@refacor" id="@idaccor">Mas opciones</a>
                            <p>@Html.ActionLink("Agregar temas", "Index", "SurveysTopics", new { id = item.Id }, htmlAttributes: new { @class = "ebutton blue" }) 
                                @Html.ActionLink("Enviar Encuesta General", "Send", "SendSurveys", new { id = item.Id }, htmlAttributes: new { @class = "ebutton blue" }) 
                                @Html.ActionLink("Enviar Encuesta Especifica", "SendSpecific", "SendSurveys", new { id = item.Id }, htmlAttributes: new { @class = "ebutton blue" })                            </p>
                        </section>
                        
					     
                    </div>
                    </div>
                    @:</td>
                    @:</tr>
                    i++;
                }

            </table>
        </div>
        <div class="c2 last">
            @Html.Partial("_LayoutSideBar")
        </div>
    </div>
    &nbsp;
</div>
