@model AplicacionBase.Models.ViewModels.UsersInRolesViewModel

@{
ViewBag.Title = "Asignar roles al usuario";
}

<h2>Cambiar roles al usuario: <strong><i>@Model.aspnet_User.UserName</i></strong></h2>


@using (Html.BeginForm(new { id=Model.aspnet_User.UserId }))
{
<fieldset>
    <legend>Seleccione los roles del usuario</legend>
    <br/>

@foreach (var category in @Model.aspnet_RolesChecklist)
{
@Html.CheckBox(category.Key.RoleName, category.Value)
@Html.Label(category.Key.RoleName)
<br />
}

<p>
<input type="submit" value="Guardar" />
</p>
</fieldset>
}
<div>
@Html.ActionLink("Regresar al listado", "Index","Home")
</div>