@using AplicacionBase.Models

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<div>
@using (Html.BeginForm())
{
    <fieldset>
        @{
    int i = 1;
        }
        
        @foreach (SurveysTopic surveysTopic in ViewBag.questions)
        {
            @:<div class="tema">
            @:<div class="ttema" style="padding-bottom: 20px">
            @: <h1>Tema: @surveysTopic.Topic.Description </h1>
            @:</div>
            foreach (Question question in surveysTopic.Topic.Questions)
            {
                @:<div style=" padding-bottom: 1">

                @:<div class="fila">
                @:Pregunta @i 
                @Html.Label(question.Sentence)               
                @:</div>
                foreach (AnswerChoice answer in question.AnswerChoices)
                {
                    if (answer.Type == "Normal")
                    {
                        if (question.Type == "Unica")
                        {
                            @:<div class="fila"> 
                                                      
                            @:<span class="etiqueta">
                            @Html.Label(answer.Sentence)
                            @:</span>

                            @:<span class="form-el">      
                            @Html.RadioButton("un" + question.Id.ToString(), answer.Id.ToString())
                            @:</span> 

                            @:</div>

                        }
                        if (question.Type == "Multiple")
                        {
                            @:<div class="fila">                          
                            @:<span class="etiqueta">              
                            @Html.Label(answer.Sentence)
                            @:</span>
                            @:<span class="form-el">  
                            @Html.CheckBox("mu" + answer.Id.ToString(), "false")
                            @:</span>
                            @:</div> 
                        }
                        if (question.Type == "Corta")
                        {
                            @:<div class="fila">
                            @*@:<span class="etiqueta"> 
                            @Html.Label(answer.Sentence);*@
                           @* @:</span>*@
                            @:<span class="form-el">   
                            @Html.TextBox("ab" + answer.Id.ToString(), "")
                            @:</span> 
                            @:</div>  
                        }

                        if (question.Type == "Larga")
                        {
                            @:<div class="fila">
                           @* @:<span class="etiqueta"> 
                            @Html.Label(answer.Sentence)
                            @:</span>*@
                            @*@:</div>
                            @:<div class="fila">*@
                            @:<span class="form-el"> 
                            @Html.TextArea("ab" + answer.Id.ToString(), "")                              
                            @:</span> 
                            @:</div>  
                        }
                    }
                    else
                    {
                        @:<div class="fila"> 
                        @:<span class="etiqueta">
                        @Html.Label(answer.Sentence)
                        @:</span> 
                        @:<span class="form-el">
                        @Html.TextBox("tt" + answer.Id.ToString(), "")
                        @:</span> 
                        @:</div>
                    }                
                }
                @:</div>
                
                i++;
            }                     
            @:</div>           
        }
        
        
        <div class="fila"> 
            <span class="etiqueta">
            </span>
            <span class="form-el">
            <input type="submit" value="Guardar" />
            </span>
        </div>
    
        
        
    </fieldset>
    
   
}

</div> 
