@using AplicacionBase.Models

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<div>
@using (Html.BeginForm())
{
    <fieldset>
        @{
            int i = 1;
        }
        
        @foreach (SurveysTopic surveysTopic in ViewBag.questions)
        {
            @:<div class="tema">
            @:<div class="ttema">
            @: <h1>Tema: @surveysTopic.Topic.Description </h1>
            @:</div>
            foreach (Question question in surveysTopic.Topic.Questions)
            {

                @: <p class="ttema">Pregunta @i 
                @Html.Label(question.Sentence) @: 
                @:</p>
                
               

                foreach (AnswerChoice answer in question.AnswerChoices)
                {
                    if (answer.Type == "Normal")
                    {
                        if (question.Type == "Unica")
                        {
                            @:<div class="fila"> 
                            @:<span class="form-el">      
                            @Html.RadioButton(question.Id.ToString(), answer.Id.ToString())
                            @:</span> 
                            
                            @:<span class="etiqueta">
                            @Html.Label(answer.Sentence)
                            @:</span>
                            @:</div>

                        }
                        if (question.Type == "Multiple")
                        {
                            @:<div class="fila"> 
                            @:<span class="form-el">  
                            @Html.CheckBox(question.Id.ToString(), answer.Id.ToString())
                            @:</span>
                            @:<span class="etiqueta">              
                            @Html.Label(answer.Sentence)
                            @:</span>
                            @:</div> 
                        }
                        if (question.Type == "Abierta")
                        {
                            @:<div class="fila">
                            @:<span class="etiqueta"> 
                            @Html.Label(answer.Sentence)
                            @:</span>
                            @:<span class="form-el">   
                            @Html.TextBox(answer.Id.ToString(), "")
                            @:</span> 
                            @:</div>  
                        }
                    }
                    else
                    {
                        @:<div class="fila"> 
                        @:<span class="etiqueta">
                        @Html.Label(answer.Sentence)
                        @:</span> 
                        @:<span class="form-el">
                        @Html.TextBox(answer.Id.ToString(), "")
                        @:</span> 
                        @:</div>
                    }
                    


                    <br/>
                }

                i++;


            }
                       
            @:</div>
            <br/>
        }

        <p>
            <input type="submit" value="Guardar" />
    
        </p>
        
    </fieldset>
    
   
}

</div> 
