@using AplicacionBase.Models

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@using (Html.BeginForm())
{
    <fieldset>
        @{
            int i = 1;
        }
        @foreach (Question question in ViewBag.questions)
        {
              
           
                            
                <p>Pregunta @i :
                    @Html.Label(question.Sentence)</p>
            
            <br />
            
            foreach (AnswerChoice answer in question.AnswerChoices)
            {
                if (answer.Type == "Normal")
                {
                    if (question.Type == "Unica")
                    {
                       
                        @Html.RadioButton(question.Id.ToString(), answer.Id.ToString())
                       
                        //@Html.RadioButton(answer.Id.ToString(), false)
                        
                        @Html.Label(answer.Sentence) 
                       
                    }
                    if (question.Type == "Multiple")
                    {
                        @Html.CheckBox(question.Id.ToString(), answer.Id.ToString())
                        @Html.Label(answer.Sentence)
                    }
                    if (question.Type == "Abierta")
                    {
                        @Html.Label(answer.Sentence)
                        @Html.TextBox(answer.Id.ToString(), "")
                    }
                }
                else
                {
                    @Html.Label(answer.Sentence)
                    @Html.TextBox(answer.Id.ToString(), "")
                }
                @: </tr>
               
               
                <br/>
            }
           
            <br/>
            i++;
             
        }
    

        <p>
            <input type="submit" value="Guardar" />
    
        </p>
    </fieldset>
    
    <blink>Esta en cambio parpadea.</blink>
}
