@{
    ViewBag.Title = "Enviar Encuesta General";
}
<h2>
    Enviar Encuesta General</h2>
<div>

    @using (Html.BeginForm())
    {
        <fieldset>

            <div class="editor-label">
                Encuesta Dirigida a:
            </div>
            <div class="editor-field">
                <p>
                    @Html.CheckBox("Estudiante", false)Docentes
                    <br />
                    @Html.CheckBox("Docentes", false)Docentes
                    <br />
                    @Html.CheckBox("Egresados", false)Egresados
                    <br />
                    @Html.CheckBox("Administrativos", false)Administrativos
                    <br />
                    @Html.CheckBox("Jefe", false)Jefe
                </p>
            </div>
            <div class="editor-label">
                Seleccione los Programas:
            </div>
            <div class="editor-field">
                <p>
                    @Html.CheckBox("IngSistemas", false)Ingenieria de Sistemas
                    <br />
                    @Html.CheckBox("IngElectronica", false)Ingenieria Electronica y Telecomunicaciones
                    <br />
                    @Html.CheckBox("IngAutomatica", false)Ingenieria Automatica
                    <br />
                    @Html.CheckBox("Telematica", false)Telematica
                    <br />
                </p>
            </div>
            <div class="editor-label">
                Fecha Desde: 
                </div>
            <div class="editor-field">
                @Html.TextBox("txtFechaDesde")
            </div>
            <div class="editor-label">              
                Fecha Hasta: 
            </div>
            <div class="editor-field">
                @Html.TextBox("txtFechaHasta")
            </div>
            <div class="editor-label">
                Asunto: 
            </div>
            <div class="editor-field">
                @Html.TextBox("txtAsunto")
            </div>
            <div class="editor-label">
                Mensaje:
            </div>
            <div class="editor-field">
                <p>
                    @Html.TextArea("txtMensaje")
                </p>
            </div>
            <div>
                <p>
                    <input type="submit" value="Vista Previa" />
                </p>
            </div>
            <div>
                <p>
                    @Html.ActionLink("Regresar","Index" , "Surveys")
                </p>
            </div>
        </fieldset>
    }
</div>
