@model AplicacionBase.Models.Post

@{
    ViewBag.Title = "Delete";
}

<h2>Eliminar</h2>

<h3>Esta seguro de querer eliminar esta Noticia?</h3>
<fieldset>
    <legend>Noticia</legend>
    <div class="display-field">
        Usuario :
        @Html.DisplayFor(model => model.User.FirstNames)
        @Html.DisplayFor(model => model.User.LastNames)
    </div>
    <div class="display-field">
        Titulo : 
        @Html.DisplayFor(model => model.Title)
    </div>
    <div class="display-field">
        Resumen : 
        @Html.DisplayFor(model => model.Abstract)
    </div>
    <div class="display-field">
        Contenido : 
        @Html.DisplayFor(model => model.Content)
    </div>
    <div class="display-field">
        Fecha de Publicacion : 
        @Html.DisplayFor(model => model.PublicationDate)
    </div>
    <div class="display-field">
        Ultima Actualizacion : 
        @Html.DisplayFor(model => model.UpdateDate)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <div>
        <input type="submit" value="Eliminar" class="ebutton blue"/> 
        @Html.ActionLink("Cancelar", "Index", null, htmlAttributes: new { @class = "ebutton blue" })
    </div>
}
