@model AplicacionBase.Models.Post

@{
    ViewBag.Title = "Detalles";
}

<h2>Detalles</h2>

<fieldset>
    <legend>Noticia</legend>
    <div class="display-field">
        Usuario : 
        @Html.DisplayFor(model => model.User.FirstNames)
        @Html.DisplayFor(model => model.User.LastNames)
    </div>
    <div class="display-field">
        Titulo : 
        @Html.DisplayFor(model => model.Title)
    </div>
    <div class="display-field">
        Resumen : 
        @Html.DisplayFor(model => model.Abstract)
    </div>
    <div class="display-field">
        Contenido : 
        @Html.DisplayFor(model => model.Content)
    </div>
    <div class="display-field">
        Fecha de Publicacion : 
        @Html.DisplayFor(model => model.PublicationDate)
    </div>
    <div class="display-field">
        Ultima Modificacion :      
        @Html.DisplayFor(model => model.UpdateDate)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.Id }, htmlAttributes: new { @class = "ebutton blue" }) 
    @Html.ActionLink("Cancelar", "Index", null, htmlAttributes: new { @class = "ebutton blue" })
</p>
