@model IEnumerable<AplicacionBase.Models.Post>
@{
    Layout = "";  
}

<div id="Noticias">
    <div id="NoticiasBordeSup">
		<div id="noticiasBordeSupIzq"></div>
        <div id="noticiasBordeSupDer"></div>
	</div>
    <div id="MedioNoticias">
        <div id="conNoticiasBordeIzq">
			    <div id="conNoticiasBordeDer">
                    <div id="ContenidoNoticias">
                        <h2>Noticias</h2>
                        <div id="carrucel-main" class="Carrucel">
                             <div class="ContentCarrucel" id="Content">    
                                @{
                                    int i = 1;
                                    string node;}            
                                    @foreach (var item in Model)
                                    {
                                        node = "Node" + i;
                                        if(i == 1){
                                            <div class="NodeCarrucel" id=@node >
                                                <div class="inner">
                                                    <div class="fondo_noticia">
                                                        <img src="/Content/themes/base/images/citacion_prueba.jpg"/>
                                                    </div>
                                                    <div class="noticia">
                                                        @Html.ActionLink(item.Title, "showPost", new { id = item.Id }, htmlAttributes: new { @class = "title" })<br />
                                                        @Html.ActionLink(item.Abstract, "showPost", new { id = item.Id }, htmlAttributes: new { @class = "abstract" })
                                                    </div>   
                                                </div>                                               
                                            </div>                        
                                        }
                                        else{ 
                                            <div class="NodeCarrucelUnselected" id=@node > 
                                                <div class="inner"> 
                                                    <div class="fondo_noticia">
                                                        <img src="/Content/themes/base/images/citacion_prueba.jpg"/>
                                                    </div>
                                                    <div class="noticia">
                                                        @Html.ActionLink(item.Title, "showPost", new { id = item.Id }, htmlAttributes: new { @class = "title" })<br />
                                                        @Html.ActionLink(item.Abstract, "showPost", new { id = item.Id }, htmlAttributes: new { @class = "abstract" })
                                                    </div>                                                  
                                                </div>
                                            </div>                                                                                                                      
                                        }
                                        i++;
                                    } 
                                   
                            </div>
                            <div class="Controls">
                                @{
                                    @Html.ActionLink("<<<", "", new { }, htmlAttributes: new { @class = "Back", @id = "BackCarrucel", @onclick = "Back()", @href = "javascript:void(0);" })
                                    @Html.ActionLink(">>>", "", new { }, htmlAttributes: new { @class = "Next", @id = "NextCarrucel", @onclick = "Next()", @href = "javascript:void(0);" })
                                    i = 1;
                                    string a;}            
                                    @foreach (var item in Model)
                                    {
                                        a = "A" + i;
                                        if (i == 1)
                                        {
                                            @Html.ActionLink(i.ToString(), "", new { }, htmlAttributes: new { @class = "ASelected", @id = a, @onclick = "goToPosition('" + i + "')", @href = "javascript:void(0);" })                                          
                                        }
                                        else
                                        { 
                                            @Html.ActionLink(i.ToString(), "", new { }, htmlAttributes: new { @class = "Position", @id = a, @onclick = "goToPosition('" + i + "')", @href = "javascript:void(0);" })                                                                         
                                        }
                                        i++;
                                    } 
                            </div>
                            <div class="view-content">
                                 @foreach (var item in Model)
                                 {
                                      <div class="views-row views-row-1 views-row-odd views-row-first">
                                          <li class="postNoticias">
	                                      <span class="categoriaNoticia">@item.Title | </span>
                                          @Html.ActionLink(item.Abstract, "showPost", new { id = item.Id })                                        
                                      </div>
                                 }                             
                            </div>
                            <div id="startbox">
                                <div class="startunselected" id="star1" onmouseover="hover(1)" onmouseout="unhover()" onclick="calificar(1,  2)"></div>
                                <div class="startunselected" id="star2" onmouseover="hover(2)" onmouseout="unhover()" onclick="calificar(2,  2)"></div>
                                <div class="startunselected" id="star3" onmouseover="hover(3)" onmouseout="unhover()" onclick="calificar(3,  2)"></div>
                                <div class="startunselected" id="star4" onmouseover="hover(4)" onmouseout="unhover()" onclick="calificar(4,  2)"></div>
                                <div class="startunselected" id="star5" onmouseover="hover(5)" onmouseout="unhover()" onclick="calificar(5,  2)"></div>
                            </div>
                            <a href="/versionP/noticias-y-actualidad" class="ebutton blue" id="btMasNoticias" title="Ver más noticias">Más noticias</a>               
                        </div>
                    </div>
        </div>
        </div>
    </div>
    <div id="conNoticiasBordeInf">
		<div id="noticiasBordeInfIzq"><!-- abajo izq --></div>
        <div id="noticiasBordeInfDer"><!-- abajo der --></div>
	</div>
</div>

<script type="text/javascript">create_carrucel(@ViewData.Model.Count());</script>