@model AplicacionBase.Models.Question

@{
    ViewBag.Title = "Eliminar Pregunta " + @ViewBag.Topic.Description;
}

<h2>Eliminar Pregunta del Tema  @ViewBag.Topic.Description </h2>

<h3>¿Está Seguro de Eliminarlo?</h3>
<fieldset>
    <legend>Pregunta</legend>
    @*
    <div class="display-label">Topic</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Topic.Description)
    </div>
    *@
    <div class="display-label">Tipo de Pregunta</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Type)
    </div>

    <div class="display-label">Enunciado de la Pregunta</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Sentence)
    </div>

    <div class="display-label">Orden de la Pregunta</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.QuestionNumber)
    </div>

    <div class="display-label">Es Obligatorio</div>
    <div class="display-field">
        @* @Html.DisplayFor(model => model.IsObligatory) *@
        @{
           Write(Model.IsObligatory == 0 ? "No" : "Si");
        }
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Borrar Pregunta" /> |
        @Html.ActionLink("Regresar al Listar", "Index")
    </p>
}
