@model AplicacionBase.Models.Question

@{
    ViewBag.Title = "Editar Pregunta del Tema " + @ViewBag.Topic.Description;
}

<h2>Editar Pregunta del Tema <strong> <i> @ViewBag.Topic.Description </i></strong></h2>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Pregunta</legend>

        @Html.HiddenFor(model => model.Id)
        @*
        <div class="editor-label">
            @Html.LabelFor(model => model.IdTopic, "Tema")
        </div>
        <div class="editor-field">
            @Html.DropDownList("IdTopic", String.Empty)
            @Html.ValidationMessageFor(model => model.IdTopic)
        </div>
        *@
        <div class="editor-label">
            @Html.LabelFor(model => model.Type)
        </div>
        <div class="editor-field">
            <p>
                @Html.RadioButtonFor(model => model.Type, "Unica", true) Unica Respuesta 
                @Html.RadioButtonFor(model => model.Type, "Multiple", false) Multiple Respuesta
                @Html.RadioButtonFor(model => model.Type, "Abierta", false) Respuesta Abierta
                @*Html.RadioButtonFor(model => model.Type, "Mixta", false) Respuesta Mixta*@
                @Html.ValidationMessageFor(model => model.Type)
            </p>
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Sentence)
        </div>
        <div class="editor-field">
            <p>
            @Html.EditorFor(model => model.Sentence)
            @Html.ValidationMessageFor(model => model.Sentence)
            </p>
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.QuestionNumber)
        </div>
        <div class="editor-field">
            <p>
                @Html.EditorFor(model => model.QuestionNumber)
                @Html.ValidationMessageFor(model => model.QuestionNumber)
            </p>
            <div class="validation-summary-errors"> <p>@TempData["Error2"]</p> </div>
        </div>

        <div class="editor-label">
            <p>
            @Html.LabelFor(model => model.IsObligatory)
            </p>
        </div>
        <div class="editor-field">
            <p>
            @Html.RadioButtonFor(model =>model.IsObligatory,0,true) No Obligatorio
            @Html.RadioButtonFor(model =>model.IsObligatory,1,false) Obligatoria
            @Html.ValidationMessageFor(model => model.IsObligatory)
            </p>
        </div>

        <p>
            <input type="submit" value="Guardar" />
        </p>
    </fieldset>
}

<div>
    <p>
        @Html.ActionLink("Regresar al listado", "Index", routeValues: new { id = ViewBag.Topic.Id})
    </p>
</div>
