@model IEnumerable<AplicacionBase.Models.Question>

@{
    ViewBag.Title = "Listar Pregunta del Tema " + @ViewBag.Topic.Description;
}

<h2>Listar Pregunta del Tema @ViewBag.Topic.Description</h2>

<p>
    @Html.ActionLink("Crear Pregunta", "Create", new {id=ViewBag.Topic.Id})
</p>
<table>
    <tr>@*
        <th>
            Tema
        </th>
        *@
        <th>
            Tipo de Pregunta
        </th>
        <th>
            Enunciado de la Pregunta
        </th>
        <th>
            Orden de la Pregunta
        </th>
        <th>
            Es Obligatorio
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        @* <td>
           @Html.DisplayFor(modelItem => item.Topic.Description) 
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.Type)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sentence)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.QuestionNumber)
        </td>
        <td>
            @{
                Write(item.IsObligatory == 0 ? "No" : "Si");
            }
            
            @*  @Html.DisplayFor(modelItem => item.IsObligatory) *@
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { idT = item.IdTopic, idQ = item.Id }) |
            @Html.ActionLink("Detalles", "Details", new { id=item.Id }) |
            @Html.ActionLink("Eliminar", "Delete", new { id=item.Id }) |
            @if (item.Type != "Unica")
            {
                @Html.ActionLink("Crear Opciones Respuesta", "Create", "AnswerChoices", new {id = item.Id}, "")
            }
           @* @Html.ActionLink("Agregar Preguntas", "Create", "Questions", new { id = item.Id }, "") *@
        </td>
    </tr>
}

</table>
