@model IEnumerable<AplicacionBase.Models.Topic>

@{
    ViewBag.Title = "Temas";
}

<h2>Temas</h2>

<p>
    @Html.ActionLink("Nuevo Tema", "Create")
</p>
<table>
    <tr>
        <th>
            Descripcion
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Ver", "Details", new { id=item.Id }) |
            @Html.ActionLink("Eliminar", "Delete", new { id=item.Id }) |
            @Html.ActionLink("Crear Preguntas", "Index", "Questions", new { id=item.Id }, "")
        </td>
    </tr>
}

</table>
