@model IEnumerable<AplicacionBase.Models.File>

@{
    Layout = "~/Views/Shared/_Layout_galery.cshtml"; 
}

<h2>Archivos Pertenecientes a la Noticia</h2>

<table>
    <tr>
        <th>
            Imagen
        </th>
        <th>
            Nombre
        </th>
        <th>
            Tipo de Archivo
        </th>
        <th>
            Tamaño 
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td style="text-align: center;">
            <div id="gallery">
                <a href=@Html.DisplayFor(modelItem => item.Path)> <img alt="" src= @Html.DisplayFor(modelItem => item.Path) height="100" width="100" /></a>
            </div>   
        </td>
        <td style="text-align: center;">
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td style="text-align: center;">
            @Html.DisplayFor(modelItem => item.Type)
        </td>
        <td style="text-align: center;">
            @Html.DisplayFor(modelItem => item.Size)
        </td>
        <td>
             @Html.ActionLink(" ", "Delete", new { id = item.Id }, htmlAttributes: new { @class = "btndelete", @title = "Eliminar" })
        </td>
    </tr>
}

</table>
 <script type="text/javascript">
        $(function ImageLB() {
            $('#gallery a').lightBox({ 
                imageLoading: '/Content/lightbox-ico-loading.gif',
                imageBtnClose: '/Content/lightbox-btn-close.gif',
                imageBtnPrev: '/Content/lightbox-btn-prev.gif',
                imageBtnNext: '/Content/lightbox-btn-next.gif',
                
            });
        });
    </script>
