@model IEnumerable<AplicacionBase.Models.File>

@{
    Layout = "~/Views/Shared/_Layout_galery.cshtml"; 
}

<h2>Archivos Pertenecientes a la Noticia</h2>

<table>
    <tr>
        <th>
            Patch
        </th>
        <th>
            Name
        </th>
        <th>
            Type
        </th>
        <th>
            Size
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            
            <a href=@Html.DisplayFor(modelItem => item.Path)> <img alt="" src= @Html.DisplayFor(modelItem => item.Path) height="100" width="100" /></a>
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Type)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Size)
        </td>
        <td>
            02 @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
